input{
font-family: Calibri, Arial;
margin: 0px;
padding: 0px;
}
a {
color: ‪#‎0254EB‬
}
a:visited {
color: #0254EB
}

.comment {
width: 575px;
background-color: ‪#‎f0f0f0‬;
margin: 10px;
}
a.morelink {
text-decoration:none;
outline: none;
}
.morecontent span {
display: none;
}