form * {
	background:none;
}

input[type=text], input[type=password],input[type=email],input[type=date],input[type=number],
input[type=submit],textarea,button
{
-webkit-appearance:none;
-moz-appearance: none;
border: none;
background: white;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 5px;
padding: 5px;
margin: 0;
margin-bottom: 10px;
color: #555;
}
/*
body{
background: url(background_wood.jpg);
}
*/
h2
{text-align: center;
font-size: 27px;
color: white;
margin: 0px;
margin-bottom: 3px;
}

p 
{ 
font-size:15px;
text-align: center;
color: #FFF;
margin: 0;
margin-bottom: 20px;
}

form {
	width: 340px;
	margin: 0 auto;
	position: relative;
	
	
	background: #CD853F; /* this is the form color in purple*/
	background: #7A1631 -webkit-linear-gradient(#CD853F,#3F0B1B);  /* For Safari 5.1 to 6.0 */
	background: #7A1631 -moz-linear-gradient(#CD853F,#3F0B1B);   /* For Firefox 3.6 to 15 */
	background: #7A1631 -o-linear-gradient(#CD853F,#3F0B1B);  /* For Opera 11.1 to 12.0 */
	background: #7A1631 -ms-linear-gradient(#CD853F,#3F0B1B);  /* IE10+ */
	background: #CD853F linear-gradient(#CD853F,#3F0B1B);   /* Standard syntax */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CD853F', endColorstr='#CD853F',GradientType=0 );  /* IE6-9 */
	
	/* For Internet Explorer 5.5 - 7 */
/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fad59f, endColorstr=#fa9907); */
	
	
	border: 1px solid #3f0b1b;  /* dark purple*/

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	-webkit-box-shadow: 5px 5px 11px rgba(0,0,0,0.42);
	-moz-box-shadow: 5px 5px 11px rgba(0,0,0,0.42);
	box-shadow: 5px 5px 11px rgba(0,0,0,0.42);
	padding: 15px 30px 10px 30px;
}
/* this is the starting css login button in form  */
button {
	font-size: 13px;
	width: 90px;
	text-align: center;
	display: block;
	float: right;
	clear: both;
	background: #FFD462;  /* yellow color */
	padding: 6px 28px;
	border: none;

	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	color: #7A1631;
}/* this is the ending css login button in form  */


/* this is the starting css and making class group and call it in form class="loginform group "for adjustment of login button in form  */
.group:before, .group:after { content: "\0020"; display: block; height: 0; overflow: hidden; }  
.group:after { clear: both; }  
.group { zoom: 1; }  
/* this is the ending css for adjustment of login button in form  */


/* lables adjustment for username at the top and password as well */
label {
    text-align: right;
	float:left;
	font-size: 17px;
	color: #FC7D49;
	padding: 5px;
}

input[type=text],input[type=password],input[type=number] ,input[type=date],input[type=email] {
	width: 330px;
	border: 1px solid #3F0B1B;
}

input[type=text]:focus,input[type=password]:focus,input[type=number]:focus ,input[type=date]:focus,input[type=email]:focus{
	background: #DDD;
}
/* this is the ending lables adjustment for username at the top and password as well */


