h2{
	text-align:center;
}

#view-wrapper{

	width:900px;
	margin:0 auto;
}
#view-wrapper table{
	margin:0 auto;
	border:1px solid lightgray;/* border style grey*/
}
#view-wrapper table tr th{
	background-color:#CD853F; /* border style brown*/
	padding:3px 30px 3px 30px; 
}
#view-wrapper table tr{
	background-color:#FFDEAD;
}
#view-wrapper table tr:hover{
	background-color:cornsilk;
}
#view-wrapper table tr td{
	padding:3px 10px 3px 10px;
}

#view-wrapper table tr td #delete-btn{
	background-color:#CC0000;
	color:white;
	padding:1px 5px 1px 5px;
	border-radius:3px;
	border:1px outset #CC0000;
	text-decoration:none;
}
#view-wrapper table tr td #delete-btn:hover{
	background-color:#990000;
}
#view-wrapper table tr td #edit-btn{
	background-color:#3366CC;
	color:white;
	padding:1px 13px 1px 13px;
	border-radius:3px;
	border:1px outset #3366CC;
	text-decoration:none;
}
#view-wrapper table tr td #edit-btn:hover{
	background-color:#2952A3;
}

/* this is dummy*/
input#shiny {
padding: 4px 20px;
/*give the background a gradient*/
background:#ffae00; /*fallback for browsers that don't support gradients*/
background: -webkit-linear-gradient(top, #ffae00, #d67600);
background: -moz-linear-gradient(top, #ffae00, #d67600);
background: -o-linear-gradient(top, #ffae00, #d67600);
background: linear-gradient(top, #ffae00, #d67600);
border:2px outset #dad9d8;
/*style the text*/
font-family:Andika, Arial, sans-serif; /*Andkia is available at http://www.google.com/webfonts/specimen/Andika*/
font-size:1.1em;
letter-spacing:0.05em;
text-transform:uppercase;
color:#fff;
text-shadow: 0px 1px 10px #000;
/*add to small curve to the corners of the button*/
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
/*give the button a drop shadow*/
-webkit-box-shadow: rgba(0, 0, 0, .55) 0 1px 6px;
-moz-box-shadow: rgba(0, 0, 0, .55) 0 1px 6px;
box-shadow: rgba(0, 0, 0, .55) 0 1px 6px;
}
/****NOW STYLE THE BUTTON'S HOVER STATE***/
input#shiny:hover, input#shiny:focus {
border:2px solid #dad9d8;
}


/***FIRST STYLE THE BUTTON***/
input#resetbutton{
border:2px groove #7c93ba;
cursor:pointer; /*forces the cursor to change to a hand when the button is hovered*/
padding: 5px 25px;
/*give the background a gradient - see cssdemos.tupence.co.uk/gradients.htm for more info*/
background-color:#6b6dbb; /*required for browsers that don't support gradients*/
background: -webkit-gradient(linear, left top, left bottom, from(#88add7), to(#6b6dbb));
background: -webkit-linear-gradient(top, #88add7, #6b6dbb);
background: -moz-linear-gradient(top, #88add7, #6b6dbb);
background: -o-linear-gradient(top, #88add7, #6b6dbb);
background: linear-gradient(top, #88add7, #6b6dbb);
/*style to the text inside the button*/
font-family:Andika, Arial, sans-serif; /*Andkia is available at http://www.google.com/webfonts/specimen/Andika*/
color:#fff;
font-size:1.1em;
letter-spacing:.1em;
font-variant:small-caps;
/*give the corners a small curve*/
-webkit-border-radius: 0 15px 15px 0;
-moz-border-radius: 0 15px 15px 0;
border-radius: 0 15px 15px 0;
/*add a drop shadow to the button*/
-webkit-box-shadow: rgba(0, 0, 0, .75) 0 2px 6px;
-moz-box-shadow: rgba(0, 0, 0, .75) 0 2px 6px;
box-shadow: rgba(0, 0, 0, .75) 0 2px 6px;
}
/***NOW STYLE THE BUTTON'S HOVER AND FOCUS STATES***/
input#resetbutton:hover, input#resetbutton:focus {
color:#edebda;
/*reduce the spread of the shadow to give a pushed effect*/
-webkit-box-shadow: rgba(0, 0, 0, .25) 0 1px 0px;
-moz-box-shadow: rgba(0, 0, 0, .25) 0 1px 0px;
box-shadow: rgba(0, 0, 0, .25) 0 1px 0px;
}